@font-face {  
font-family: 'B yekan';  
  
src:url("fonts/BYekan.ttf") format("truetype") ,  
 url('http://ifont.ir/eot/BYekan.eot?#') format('eot'),  
 url('http://ifont.ir/otf/byekan.otf') format('opentype'),   
 url(data:application/octet-stream;base64,) format('woff'),  
 url('http://ifont.ir/svg/byekan.svg') format('svg');    
  
font-weight:normal;  
}  
  
body{
	perspective: 2px;
	background-color: #ddd;
	line-height: 20px;margin: 0;
	overflow-x: hidden;
	font-family:'b yekan',"Segoe Print";
	background-color: #222;

}
a{
	text-decoration: none;
	
}
#login{
	display:grid;
	grid-template-columns: 1fr;
	background-color: rgba(100,100,255,.4);
	margin: 0 auto;
	width: 70vw;
	
	border: 1px solid #777;
	border-radius: 5px;
	box-shadow: 0 0 3px #777;
	text-align: center;
}
#login form{
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}
#login input{
	box-shadow: 0 0 3px #777;
}
.xpl{
	height: 40px;
	margin-top: 70px;
}
header{
	font-size: 30px;
	display: grid;
	margin: 0;
	padding: 30px;
	border-bottom: ridge rgb(200,150,225,.6) 6px;
 	min-width: 600px;
	position:relative; 
	text-align: center;
	background-color: rgb(0,0,0,.3);
	transform: translateY(-22px);
	background-color: rgba(100,100,255,.4);
}
header img {

	color: #EEE;
	grid-column-start: 1;
	grid-column-end: -1;
	height: 200px;
	padding: 0;
	margin:20px 0 40px 0; 
	margin: 0;
	transform: translateY(-40px);
	z-index:-1;
	mix-blend-mode: darken;
	text-shadow: 2px 2px 6px rgb(100,80,150);
}

header ul{margin: 0;
	display:grid;
	z-index: 2;
	grid-template-columns:1fr 1fr 1fr 1fr ;
	list-style-type:none;
	transition: margin 500ms ease;
}
header:hover ul{
	margin: 30px;
}
header:hover{
	
}
header ul li{
	
	color:#444;
	margin: 30px;
	padding: 3px;
	background:rgba(220,220,220,.6);
	border-radius: 50%;
	font-size: 20px;
	font-weight: small;
	box-shadow: 2px 2px 6px purple;
}
header ul li:hover{
  background-image: linear-gradient(to top, rgba(255,0,120,0.6), rgba(255,100,200,0.5), rgba(255,0,120,0.6), rgba(255,100,200,0.5), rgba(255,0,120,0.6), rgba(255,100,200,0.5), rgba(255,0,120,0.6), rgba(255,100,200,0.5), rgba(255,0,120,0.6), rgba(255,100,200,0.5));
}
.bck{
	background-color: red;
	width: 600vw;
	height: 480px;
	position: relative;
	top:-502px;
	overflow-x: hidden;
	left: 0;
	z-index: -1;
	display: inline-flex;
	animation: roll 25s infinite;

}
@keyframes roll {
0%{transform:translateX(0);}
15%{transform:translateX(-100vw);}25%{transform:translateX(-100vw);}
35%{transform:translateX(-200vw);}45%{transform:translateX(-200vw);}
55%{transform:translateX(-300vw);}65%{transform:translateX(-300vw);}
75%{transform:translateX(-400vw);}85%{transform:translateX(-400vw);}
95%{transform:translateX(-500vw);}99.999%{transform:translateX(-500vw);}
100%{transform:translateX(0vw);}

}

.bck img{
	width: 100vw;
	height: 600px;
	transform: translateY(-110px);

	}






.info{
	display: flex;
	position: relative;
	height: 200px;
	width: 100vw;
	top: -530px;
	text-align: center;
	padding: 5px 30px;
	align-items: center;
	justify-content: center;
	border-top: solid #888;
	border-bottom: solid #999;
}
.info::after{
	content: "";
	position: absolute;
	left:0;
	top:280px;
	width: 100vw;
	height: 10px;
	background-color: rgba(212,202,222);

}
.input-group{
	margin: 5px; 
}
.con{
	position: relative;
	background-color: #ccc;
	background-image: url(http://img.archiexpo.com/images_ae/photo-g/133427-8003769.jpg);
	background-size: cover;
	background-position: right;
	background-attachment: fixed;
	top:-500px;
	transform: none;
	display: grid;
	grid-template-columns:3fr 1fr ;
}
.side{
	background-blend-mode: multiply;
	background-size:100% 100%;
	background-position:left;
	border-left: groove;
	border-color: rgb(200,150,255,.7);
	box-sizing: border-box;
	font-size: 18px;
	padding: 30px;
 	z-index: -2px;
 	min-width: 200px;
 	animation: voll 10s infinite ease-out ;
 	
}

@keyframes voll {
	0%{background-color: rgb(222,222,255,1);}
	50%{background-color:rgb(200,150,255,1);}
	100%{background-color:rgb(222,222,255,1);}
}
.mtn{
	display:flex;
	align-items:center;
	justify-content: center;
	position: relative;
	margin: 20px;
	padding: 30px;
	background: rgba(255,255,255,.6); 
	min-width: 250px;
}
.mtn::before{
	position: absolute;
	content: "";
	top:20px;
	height: 2px;
	width: 90%;
	background-color: purple;

}

.mtn::after{
	position:absolute;
	content: "";
	bottom:20px;
	left: 30px;
	height: 2px;
	width: 90%;
	background-color: purple;

}
.ham{
	display: none;
}

.news{
	transform: translateY(-350px);
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-gap: 20px;
	margin:20px;

}
.topnews{
	background-color: #ddd;
	font-size: 19px;
	text-align: center;
	grid-column-start: 1;
	grid-column-end: -1;
	margin:0 30%;
	border:    1px solid ;

	transform: translateY(19px);
}
.news div{
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: #ddd;
	height: 200px;
	padding: 10px;
	border-radius: 5px;
	box-shadow: 0 0 3px black;
}
.news div:hover{
	background-color: rgba(100,100,255,.1);
}


footer{
	border-top: 2px solid #666;
	padding: 30px;
	width: 100vw;
	height: 200px;
	background-image:linear-gradient(90deg ,#777 ,rgba(100,100,255,.9));
	text-align:center;
	line-height: 30px;
	font-size: 16px;
	font-weight: bolder;

}
footer ul{
	list-style-type: none;
	font-size: 13px;
	font-weight: bold;
}

#carousel-demo{
	transform: translateY(-200px);
}

 marquee>a:hover{color:#777; text-decoration:none;}
.productbox {
    width:250px;
    height:auto;
    background-color:#ffffff;
    padding:10px;
	margin-bottom:10px;
	 padding: 10px;
        -webkit-border-radius: 3px;
        -moz-border-radius: 3px;
        border-radius: 3px;
        background-color: #fff;
        border: solid 1px #cbcbcb;
        transition: all .20s ease-in-out;
}
.productbox img{
    width:235px;
    height:214px;
    }
.producttitle {
    font-weight:bold;
	padding:5px 0 5px 0; 
   width: 235px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
    
}
.carousel-inner{
	text-align: center;
}
.item{
	text-shadow: 0 0 2px white;
	background-size: 100% 100%;
	font-weight: bolder;
	font-size: 20px;
	height: 250px;
}
.producttitle a{
   color:#000;
   text-decoration:none;
    }
.producttitle .btn{
    background-color:#EDEEF0;
}








@media (max-width: 769px){
	.slider{
		display: none;
	}
	.ham{
		display: block;
		position: absolute;
		top:3px;
		right: 3px;
		width: 40px;
		padding: 5px;
		float: right;
		opacity: 0.7;
		cursor: pointer;

	}

}